<a href="https://colab.research.google.com/github/JedRoundy/Machine_Learning_For_Economists/blob/main/PSET_1/01_pset1coding_BF_TEMPLATE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Python Tutorial
I realize that a lot or you have not had a lot of programming experience so I made this to give a general introduction to the types of things that might be useful.  
Follow allong the notes and you can press shift and enter to run the code in the cell (the parts of the notebook) to see the output below the selected cell. This cell is what is called a markdown cell that runs a simple typesetting language instead of python code. You might need to run the cell to make it render like regular text.

Variable assigment works using the '=' operator in python and just like in math, the variable names are just placeholders for some information that can change.

In [ ]:
x = 5
print(x)
x = 6
print(x)
x = 6 + 1
print(x)
x += 1
print(x)

It is important to remember that computers only ever do what you tell them, not what you want them to. The trick is to get those two things to be the coincide.

In [ ]:
print(name_of_a_variable_that_does_not_exist)

You will likely see a lot of error messages like this throughout your experience programming and especially while you are learning. Understanding what the error message is saying can help you diagnose the issue.
Each error has a type, in the example above it is a `NameError` which is a problem with a variable name. It is often that a varibale name does not have a value associated with it so if you see this you probably need to check the spelling of the variable to make sure it lines up with the references that happen above in the code.
The second portion after the name type is called the traceback, it will help you find where the error occured. Remember that the real problem could have been something before it was detected so you may need to look at code you ran previously for the root of the issue.
The final line will give you a brief description of the problem and should give you a clue as to what the problem is. In this case it tells us pretty clearly what the problem is but that is not always the case. Even if it does not make the problem perfctly clear you should be able to get a pretty good clue.

Some other common errors are `IndexError` and `KeyError` which happens when you try to access an element of an object by an index that does not exist; `TypeError` which means the process expected some other type of python object than it was given.

## Object types
There are several basic types of objects in python among them are strings, ints, floats, lists, and functions.
### strings
This is the way that text is represented. In python, a string can be denoted by text being surrounded by '' or ""

In [ ]:
"this is a string"
'so is this'
my_string = 'this string is being assigned to a variable'
print(my_string) # this will display the contents of the variable

In [ ]:
print('you can' + ' add strings together')
print('you can multiply them ' * 2)
var = 5
print(f'you can put numbers and stuff in them like this {var}')

### bool
bool or boolean balues are True or False. Other objects have a representation as this type and conditional expressions are evaluated to one of the two possibilities, True of False.

In [ ]:
print(bool(0))
print(bool(1))
print(bool(0) == False)
print('3'.isdigit())
print(len('bear'))

### ints
These are the most basic ways to store numbers in python. They are a lot like the mathematical object integers

In [ ]:
print(4+5) # you can add them
print(3-5) # you can subtract them
print(3*5) # you can multiply them
print(3/5) # you can divide them

### floats
these are numbers with decimals, they take more memory because they contain more information tha just and integer but you can do the same things with them

In [ ]:
print(4.2+5.3) # you can add them
print(3.-5.5) # you can subtract them
print(3.7*5.1) # you can multiply them
print(3.2/5.4) # you can divide them

### lists
lists contain other object types, even lists can be in them.

In [ ]:
a = [1,2,3,4,5] # they can all be of the same type
b = ['a','b','c','d']
c = [2.4,5.0,5.]
[2.,1,'bear',[1,2,3]] # they can be of different types

In [ ]:
print(c + a) # you can add them
c.extend(a) # this way is another choice
print(b)
a.append(6) # you can put single elements in
print(a)
print(' '.join(b)) # you can put them together in a string

### slicing
You can access one or several of the elements of a list using a concept called slicing

In [ ]:
my_list = ['a','b','c','d','e','f','g']
print(my_list[0])
print(my_list[3])
print(my_list[6])
print(my_list[-1])
print(my_list[2:4])
print(my_list[4:])
print(my_list[:3])
print(my_list[::2]) # the third number is the step size
print(my_list[::-1]) # you can make things go in reverse order with a negative value

## Practice
Assign what is decribed in the comments to the variables directly below, if applicable. If an error is thrown in the assert statement then you did something incorrectly

In [ ]:
# EXAMPLE
# the string bear
bear = 'bear'

In [ ]:
# use list slicing to get these answers
clever_list_name = ['a','b','c','d','e','f']
# the first element of the list
a1 =
# the third element of the list
a2 =
# a slice of elements 2,3 and 4
a3 =
# the last element of the list
a4 =
# every other element in reverse order
a5 =

In [ ]:
# don't edit this just run the code to confirm you did the problems correctly
assert a1 == 'a', 'Remember that the list index starts at 0'
assert a2 == 'c', 'Remember that the list index starts at 0'
assert a3 == ['b','c','d'], 'remember that the second number is not inclusive'
assert a4 == 'f', 'try using the index -1'
assert a5 == ['f','d','b'], 'try using the index -1'

### functions
functions are a predefined set of code that can be used. print is an example of this. it displays a string.

In [ ]:
print('bear')
cat = 'bear'
print(cat)

The function len returns the length of the object. This can be handy when you are working with large lists or vectors and a variety of other situations

In [ ]:
print(len([1,2,3,4,5]))
print(len('insert name here'))

some other useful functions

In [ ]:
my_list = [1,3,2,5,4]
print(sum(my_list))
print(max(my_list))
print(min(my_list))
print(sorted(my_list))

In [ ]:
# practice
my_list = [1,2,3,4,5,6,7]
# use the functions given to calculate the mean of the given
avg =
assert avg == 4 and type(avg == float)

You can also define your own functions to do pretty much anything. Everything in the indented block is a part of the function

In [ ]:
def print_bear():
    print('bear')

print_bear()

functions can take variables with the names in the definitions as placeholders for the input

In [ ]:
def do_math(x,y):
    print(x + y)
    print(x - y)
    print(x * y)
    print(x / y)
do_math(3,1)

Variables in a fucntion call can be set to have default values by assigning them in the function definition

In [ ]:
def do_math_again(x, y=3):
    print(x + y)
    print(x - y)
    print(x * y)
    print(x / y)
do_math_again(1)

Variables defined and used in the function only exist inside the function and will not change the values of variables outside of the function

In [ ]:
def define_bear_as_grizzly():
    bear = 'grizzly'
bear = 'polar'
define_bear_as_grizzly()
print(bear)

Functions can also return objects. A return statement instantly ends the function so anything after that will not execute

In [ ]:
def add(x,y):
    return x + y

In [ ]:
# practice
my_list = [1,2,3,4,5,6,7]
# make a function called cool_func_name that calculates and returns the average of a list of integers
def cool_func_name():

assert cool_func_name(my_list) == 4

## Loops
Loops are one of the most powerful things about computer programming as they are a way to systematically perform tasks several times. The most common one that you will use in python is a for loop but there are also while loops that you can use. When you are using a for loop you are doing a series of operations on successive elements of a class of objects called iterables. These could be strings, lists, tuples, arrays, vectors, series, or generators. If it looks like a list in python it is probably an iterable

In [ ]:
# looping over a string
for character in 'string to loop over':
    print(character)

In [ ]:
for n in [3,-1,7]: # looping over a list
    print(n)
for i in range(10,19,3): # looping over another iterable
    print(i)

In [ ]:
# practice
# write a loop that prints a range of numbers from 14 to 24 in steps of 2

In [ ]:
# practice
# define a function that takes a list and uses a loop to print its cumulative sum and returns the total sum of the list

Another important concept is if else statements and the boolean logic that comes with it. An if block executes only if the condition evaluates to True.

In [ ]:
if False:
    print("it won't print this")
if True:
    print('it will print this')
if 4 < 5:
    print('4 is less than 5')
if len('batman') >= 7: # greater than or equal to
    print('batman has more than seven letters')

In [ ]:
# practice
# define a function that loops over a list and prints the cumulative sum of
# the numbers that are less than 5 and greater than or equal to 2

If statements can be combined with elif and else to check multiple conditions. Once a condition is met python will ignore the rest of the conditions so the order can matter

In [ ]:
if 7 <= 6 and type('abc') == str:
    print('both conditions were met')
elif 7 <= 6 or type('abc') == str:
    print('one condition was met')
else:
    print("no conditions were met")

x = 5
if x < 10:
    print('this one will happen')
elif x > 3:
    print('this one will not')

If a function has a return statement it creates a new object. It is often the case that a function uses inputs to create and return new output

In [ ]:
def list_average(input_list):
    return sum(input_list) / len(input_list)
x = list_average([1,2,3,4,5])
print(x)

If you ever want to know the type of an abject you can use the type function

In [ ]:
print(type(1))
print(type(1.))
print(type('1'))
print(True)
print(type(print_bear))

In [ ]:
# practice
# define a function named dwight that loops over a list of inputs and prints 'bears' if the element is an int
# prints 'beets' if the element is a float
# and prints 'battlestar galactica' if it is any other object

In [ ]:
# practice
my_list = [[1,2,3],['1',2,3],[1,2,3.5]]
# define a function called int_averages that takes an iterable of lists as an input and returns a list with
# the average of all the integers in the lists

assert int_averages() == [2,2.5,1.5]

Fortunately for us, we do not need to build everything from scratch. As an open source language, we can access the files that other people make available to us. We access the files that we have installed using the import statement

In [ ]:
import math # import a whole module
import pandas as pd # import a module or function with an alias
from math import sqrt # import a single function from a module
import matplotlib.pyplot as plt # another way to import a single function from a module

These are literally files save don your computer and pip, conda and easy_install are ways of getting these files from the standard repositories that make these available online. You can also write your own functions and import them  
You need to tell the interpreter where the thigns are coming from so if you import a module you need to make it explicit in the import or use it in the form module.function. Once a moduel is imported it can be used throught the file so it is best to do all of you imports at the top of the file, usuallly the first code cell, to prevent redundancy

In [ ]:
# each of these are different ways of letting the interpreter know where the functions are coming from
import math
print(math.floor(1.34))
from math import floor
print(floor(1.34))
from math import floor as f
print(f(1.34))
print(f == floor) # True if these things evaluate to the same thing
print(floor == math.floor)

In [ ]:
# find some of the classifiers and regressors on the scikit-learn documentation aand import them

## Object attributes
Every object in python has attributes. We access and use these by using the format parent.child the period indicating we want a subpart of of the parent and then the name after it decalres which piece we would like to get.

In [ ]:
math.floor

In [ ]:
import pandas as pd
df = pd.DataFrame([[1,2],[3,4]], columns=['bears','cats'])
df

In [ ]:
df.bears

In [ ]:
# this is another way to access columns
df['cats']

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
# you can use these to loop over the values in a dataframe
for col in df.columns:
    print(sum(df[col])/len(df[col]))

### methods
Print and type are standalone functions but some functions are connected directly to abjects and are accessed as attributes of the object to which they are tied. These special functions are often referred to as methods. Remeber to use () to use the function because without that it will just be a function object lying around and not realize you want it do do something.

In [ ]:
print('strings have the split method'.split(' '))
x = ['lists','have','the','append']
x.append('method') # this modifies the object without returning it so we don't need to assign it ot a variable
print(x)

In [ ]:
df.mean() # this does the same thing as the example loop a couple cells up

### list comprehensions
This is a concept that you will likely see if you are looking for help online. It is a python specific thing that can be really powerful. Instead of adding elements iteratively you can make large lists much faster with these comprehensions

In [ ]:
# traditional loop
my_list = []
for x in range(10):
    my_list.append(x)

# list comprehension
my_other_list = [x for x in range(10)]
print(my_list)
print(my_other_list)
print(my_list == my_other_list)

In [ ]:
import numpy as np
random_list = [np.random.randint(-10,10,1)[0] for x in range(10)]
print(random_list)
random_list2 = [rand_num/2 for rand_num in random_list]
print(random_list2)
random_list3 = [f'{i}th element is {x}' for i, x in enumerate(random_list2)]
print(random_list3)

In [ ]:
# the function in the practice that returns a list of averages of the integers between 2 and 5 of lists can be done this way in one line
my_list = [[1,2,3],['1',2,3],[1,2,3.5]] # you don't have to understand this I just wanted to show you what is possible
[sum([x if (x >= 2 and x < 5) else 0 for x in y if type(x) == int])/len([0 for x in y if type(x) == int and x < 5 and x >= 2]) for y in my_list]

# Homework Assignment
Every question below this line is going to be graded, so pay attention and try your best

### Welcome to the first coding assignment!

Learn to google questions! For example, if you want to know how to add elements to a list, use Google to search "add elements to list python". Stackoverflow tends to have good concise content.

Grade Note: Max points are specified for questions. These inform how questions are weighted in your final score for the assignment. <br>
I.e. `my_score / max_pts * ls_pts = my_ls_score`

In [ ]:
# import the functions/libraries you will need here
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 1
$(a)$ Define a list, call it `a`, containing the numbers 1,1,2,3,5,8, 13, 21, 34, 55, 89. <br>
**1/2pt**

$(b)$ Using a `for` loop (google it!), print each of the elements in `a`.<br>
**1/2pt**

$(c)$ Using a `for` loop with an `if` condition nested inside (google it!), print each of the elements in `a` that are less than 10.<br>
**1/2pt**

$(d)$ Now using the same list `a` create a new list named `b` that contains all of the values greater than or equal to 10. Hint: there are several ways to do this, but a slick way uses *list comprehension* (google it!)  <br>
**1/2pt**

$(e)$ Define a function, call it `printthis` that prints the argument given as an input. Then call the function using the input "this is fun". Hint: google "define function in python."<br>
**1/2pt**

$(f)$ Now define functions that will perform the processes decribed in $c$ and $d$ that can take any list of integers as an input. Hint: part $d$ produces a new list, so your function will need a `return` statement.  <br>
**1/2pt**

$(g)$ Define a list, call it `c`, that itself is composed of the following lists of numbers: [1,1,12],[2,3,7,23],[54,12,17,90],[43,52,67,9] (that is, `c` will be a list with four elements, each of which is a list). Then create yet another list, call it `d`, that contains all of the numbers between 5 and 45 that appear in any of the lists. Use nested *list comprehension*. Print out `d` to confirm you got it right. <br> <br>
**1/2pt**

$(h)$ Define a function that will do the process in $g$ for any given list of lists of integers, then call that function with `c` as an input. <br>
**1/2pt**

$(i)$ Define a function that takes a list of integers and prints the sum of the elements that are greater than or equal to 10. You should be able to use a function you made previously to help if you wish. Call the function using `a` as an input.<br>
**1/2pt**

### 2
Based on excercise 12 chapter 4 in ISLR.  
$(a)$ write a function called `power` that raises the input to 3rd power. Use the function to calculate $10^3$<br>
**1/2pt**

$(b)$ write a function called `power2` that takes two inputs and raises the first number to the power of the second number. Use this function to calculate and print $10^3$, $8^{17}$ and $131^3$ <br>
**1/2pt**

$(c)$ Plot the list [1,2,4,8,16,32] on the y axis against [0,1,2,3,4,5] on the x axis. You can use the code below to import a common plotting package.
```python
from matplotlib import pyplot as plt
```
`plt.plot` and `plt.legend` will likely come in handy later on.<br>

$(d)$ Create lists of values of squared and cubed values of integers from 1 to 5 using the function you defined above. You can use loops or list comprehensions to do this. Plot the lists you created. <br>
**2pts (lines, correct x-axis)**

$(e)$ Add a legend to the plot that shows which color corresponds to the power<br>
**1pt**

### 3
I have read the accompanying file name `python_intro.ipynb` located on *Learning Suite* <br>
(yes or no) <br>
**1/2pt**

### 4

Thanks to Karl Diether in the Finance Department for this section

**Pandas**

Pandas is a data manipulation library in python. Some of the aspects we will use in thsi course are listed below

1. *Pandas core data structures*: the `DataFrame` and `Series`. Understanding that dataframes store mixed type data (strings, integers, floating point, etc) in a rectangular array. Understanding how to call methods (functions available to the datframe such as `mean`, `describe`, or `shift`), and access the dataframe's attributes (i.e. the underlying data) <br><br>

2. *Getting data into DataFrames*. Getting data into a `Pandas'` dataframe is usually straight forward and easy. Pandas easily reads many different data formats: csv files, Excel files, SAS data files, Stata data files, etc. In this class, we will mainly read data in form csv files. Still, I will cover other methods. In addition, you will learn how to create `dataframes` from more primitive python datatypes: `lists`, `dictonaries`, and numpy arrays.<br><br>

3. *Data creation.* How to create new columns in a dataframe based on a existing column (e.g, computing the log of a column and storing the result as a new column).<br><br>

4. *Data selection*. You will learn how to select only the rows or columns of a `dataframe` that you need for your analysis. For example, how to remove missing values, or select only observations where the lagged price is greater than \$5<br><br>

5. *Merging data*. You will learn how to merge dataframes together based on a single key or multiple keys. Furthermore, we will explore the set logic if different merge types: 'left', 'right', 'inner', and 'outer' merges.<br><br>


**II. Why Python/Pandas?**

Why Python/Pandas? Why not Stata, R, or SAS? Certainly, each of those languages are used in empirical finance research. I think there are some important advantages to using `Python/Pandas`. One of the important reasons is that Python is a well designed a popular general purpose programming language. I think this makes Python/Pandas relatively easily to learn. I also think it provide `Pandas` with a more elegant syntax than the other languages (but that's obviously a subjective judgment on my part). Additionally, I think this general purpose base yields a side benefit to you. Specifically, learning a general purpose programming language has potentially large benefits for you even if you don't decide to pursue a PhD in Finance. Python is used in lots of different domains; it's not narrowly confined to the domain of quantitative finance or even scientific computing or data science.

The main purpose of this `Jupyter` `notebook` is to introduce the `Pandas` `library` (the most important library for this course) and the `dataframe` (the main data object we rely on do to empirical work in the course). A secondary purpose of this notebook is to briefly show off the high level nature of `Pandas`; by high level, I mean you can get a lot done with a only a few commands.


**III. Introducing the Dataframe**

What does `Pandas'` provide that helps with data analysis? The core object Pandas' provides is a container for holding rectangular array of mixed type data called a **dataframe**. You can think of a dataframe as the programming equivalent of a spreadsheet. The `dataframe` contains rows and columns of data where each column can be a different fundamental datatype: integers, floats, imaginary numbers, or strings. Analogous to a spreadsheet, Pandas' provides programmers with many ways to create new data, transform and combine data, aggregate data, or display data. For example, Pandas' has a built in operator (it's the standard division symbol, `/`) that allows one to divide one column into the other element by element. It also has much higher level functions that, for example, allow us to easily create graphs or plots of data. Many of these functions are built into the dataframe (these built in functions are typically called `methods` or `member` `functions` in the parlance of object oriented programming). So a dataframe isn't just a container for data; it also holds many functions that allow us to perform data analysis. That's why a dataframe is considering an object; it holds mix type data and it provides functions (methods) that allow us to manipulate, transform, and analyze data. The data an object can store, and the functions that can operate on the data define the object's identity (a dataframe in this case).

**II. Accessing the Pandas Library**

To use Pandas we have to tell Python that we want access to it. This is accomplished with Python's `import` command. As part of the import command I will also give the `Pandas` `library` a namespace. It's convention to use `pd` as the namespace (you can use a different name than `pd` but `pd` is a really strong convention for Pandas in the Python world ... most people will think you're weird if you use any other namespace convention). Given the `pd` namespace, Pandas' functions that we call will take the following form: `pd.function` (for example, `pd.read_csv`). Using namespaces is a good programming practice (habit) because it keeps your code tidier. It's makes it clearer what library a certain function or command comes from if each library you use has it's own namespace.

**III. Reading in the data and creating a `dataframe`**

Let's read in some data, and create a `dataframe` object. The data we wish to read into a `dataframe` are annual balance sheet data from Amazon. The data are in a csv file so we can read in the data using the `read_csv` function. The `read_csv` function will automatically create a `dataframe` object containing the data from the csv file. The `read_csv` function has a lot of options and flexibility (take a look at the [help page for it in Pandas' documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)), but often you don't use any of them (particularly for well formed or non-messy csv files). Pandas can read many different datafile formats (e.g., Excel, SAS, SQL, and Stata), but in this class we will mainly work with csv files. Note, the csv file is actually stored on a web server. The `read_csv` function in `pandas`, of course, reads files stored on your local machine, but it also has no trouble reading file stored remotely; you just need to provide a URL.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/brighamfrandsen/econ484/master/01-amazon.csv')

Note (1): To read in data from non-csv formats you generally invoke a command very similar to `read_csv`. For example, you can read in a `Stata` datafile using the following:
```python
df = pandas.read_stata('filename.dta')
```

Note (2): There are many other ways to create dataframes. For example, you can convert core Python data structures (like `lists` or `dictionaries`) into `dataframes`.

**a. Displaying the data in a dataframe**

The **Colab notebook** is a special environment where if you type the name of a dataframe (or other datatypes), it will display the default view of that object (e.g., if the dataframe is small it will display all the data in the dataframe, and if it's large only a truncated view of the data will be displayed). If you just write a python program and run it, then you need to use the `print` function to see any output. But since we are in a notebook, just type the name of the dataframe and run the cell:<br>
**1/2pt**

Or we can use an explicit print command:

In [ ]:
print(df)

**b. Dataframes and Series**

Our `dataframe` is called `df`, but if we select a column from the `dataframe` it will be of type `Series`. `Dataframes` and `Series` behave very similarly; for our purposes, it will mostly just be a technical distinction between a one dimensional and two dimensional array.

Note (1): we can select a column of a dataframe (a Series) by wrapping the column's name in quotes. For example,
```python
df['sales']
```

Note (2): you typically must wrap the column's name in ' ' because most column names are stored as strings. You will need to reference columns this way as long as the variable names you use aren't entirely numeric (e.g., an integer). In Python (and nearly every other general purpose programming language) strings are always delimited by either single or double quotes. In `Python` you can use either single (' ') or double (" ") quotes.  

Note (3):  In Python, there is a `type` function that returns the type of a variable or object.<br>
**1pt (1/4pt for each: columns, select 1, select 2, display types)**

In [ ]:
# display the columns attribute of the dataframe, which has has all of the column names

In [ ]:
# try displaying one column:

In [ ]:
# select multiple columns to display by putting in a list of column names

In [ ]:
# display the type of the columns you selected

**IV. Creating a New Column of Data**

We can create a new column in a dataframe using the assignment operator. Like most programming languages, the assignment operator is just the equal sign: `=`. For example, we might be interested in how Amazon's capital structure changes over time. Therefore, let's create a debt to assets (measured by `mktcap`) ratio. This ratio is called leverage

Note (1): mathematical operations such as addition (+), subtraction (-), multiplication (*), or division (/) are all element by element operations between the dataframe columns that are referenced.

**1pt (1/2 for each: new column, half for drop column)**

In [ ]:
# create a new column called leverage that is the ratio of debt to assets (mktcap)

Note (2): mathematical operations between scalars and columns operate analogously. For example,
```python
df['leverage']*100
```
would multiply every element in the leverage column by 100.

**Deleting a Variable/Column of Data**

In [ ]:
# delete the tick column with the drop method

Not the above command (`drop`), created a new `dataframe` with the `tick` column removed. Most `pandas` commands with operate this way. To modify the original `dataframe` df we have to assign the `dataframe` created by the drop command to `df`. Many dataframe methods have the argument inplace that you can set to `True` to overwrite the old dataframe with the new one:

In [ ]:
# save the new dataframe with the dropped column using one of the methods described above

**V. Power of Pandas**

To show off how the high level nature of `Pandas` (how much you can accomplish with a few commands), let's create some plots.<br>
**2pts**

a) First, a simple plot of sales/revenue as a function of year

In [ ]:
%matplotlib inline

Note, how the plotting function is called; we call it using the `.` operator:
```
df.plot(y='revenue',x='year')
```
The `.plot()` function is part of any dataframe; plotting is one of the dataframe object's attributes or to talk like a programmer, it's one of the object's methods.

Back to plotting

b) Let's still do revenue as a function of year but as a bar barplot.

In [ ]:
# create a barplot of revenue on year

c) Next, a plot of EBIT as a function of year as a barplot with a title

In [ ]:
# these are just some examples of things you can do
df.plot.bar(y='ebit',x='year',title="Amazon's Earnings",color='darkblue')

d) Finally, let's look at Amazon's leverage over time